.add_services {
  background: #f8f8f8;
  height: 630px;
  box-sizing border-box;
  display flex;
  flex-wrap nowrap
  overflow hidden

  hr {
    margin-left: 36px;
    margin-top: 19px;
    @media desktop-width{
      display none
    }

  }
  @media desktop-width{
  height: auto;
}
  .add_services__wraper {
    width: 555px;
    padding-top 59px;
    @media desktop-width{
      width: 100%;
    }

  }
  .add_services__list {
    position: relative
    padding-left 100px;
  }
  .add_services__item {
    padding-top: 22px;
    padding-left: 12px;
    hr{
      margin-left 0;
      margin-top: 5px
      padding 0;
      margin-right: 0;
      margin-bottom: -8px;
      @media desktop-width{
        display none
      }
    }

  }

  .add_services__title {
    font-size: 42px;
    color: #333333;
    padding-left 34px
    @media desktop-width{
      display: block
      padding-left 0;
      border-bottom 2px solid #fe9e3f
      text-align: center
      padding-bottom: 10px;
    }
    @media screen and (max-width: 500px){
      font-size: 36px;
    }


  }

  .add_services__ItemTitle {
    font-size: 33px;
    color: #333333
    display: inline-block;
    @media desktop-width{
      display: block
      border-bottom 2px solid #ededed
    }
    @media screen and (max-width: 500px){
      font-size: 20px;
    }



  }
  .add_services__ItemText {
    font-size: 18px;
    color: #333333
    padding-top: 19px;
    width: 420px;
    @media desktop-width{
      width: 100%
      padding-right 20px;
    }
    @media screen and (max-width: 500px){
      font-size: 16px;
    }
  }
  .add_services__imgItem {
    left: -17px;
    width: 150px;
    height: 113px;
    margin-top: -19px;
    position: absolute;
    }

  .add_services__dogs {
    width: 420px;
    height: 506px;
    padding-top: 78px;
    @media desktop-width{
      display none
    }
  }
}