.main {
  max-width: 1024px;
  margin-left auto
  margin-right: auto
  background-color: #f8f8f8
  box-shadow: 0 0 120px -11px rgba(0, 0, 0, 0.7);
  z-index 1;
  @media screen and (max-width: 960px) {
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
  }

}