.news {
  @media desktop-width{
    display: none;
  }
  height: 840px;
  padding-top 56px;
  &__title {
    font-size: 42px;
    color #333333
    text-align: center;
  }
  hr {
    margin: 0 auto
    margin-top: 19px;
    margin-bottom: 45px;

  }
  &__list {
    display: flex
    flex-wrap nowrap;
    justify-content: space-between
    margin-left: 58px;
    margin-right: 48px;

  }
  &__item {
    width: 279px;
  }
  &__figure {
    margin: 0
    padding: 0;
    width: 100%;
  }
  &__figuration {
    position: relative
    width: 210px;
    margin-left: 65px
    display: block
    padding-top: 18px;
  }
  &__date__day {
    position absolute
    top: 17px;
    left: -64px;
    width: 45px;
    height: 57px;
    border-radius: 10px;
    font-size 32px;
    background-color: #ff9900
    color #ffffff
    text-align: center


  }
  &__date__month {
    position absolute
    top: 51px;
    left: -64px;
    width: 45px;
    height: 58px;
    font-size 16px;

    color #ffffff
    text-align: center
  }
  &__itemTitle{
    font-size: 22px;
    color #333333;
  }
  &__subtitle{
    font-size: 18px;
    color #666666;
    text-align: left
    margin-top: 5px;
    border-bottom 2px solid #f6f6f6;
    margin-bottom: 7px;
    padding-bottom: 7px;

  }
  &__autor {
    color #ff9900
  }
  &__data__add {
    color: #ff9900
  }
  &__text {
    color #999999;
    text-align: left
    padding-bottom: 10px;

  }
  &__more {
    color: #666666;
    text-transform uppercase;
  }
}