.services {
  height: 860px
  background-color: #fff
  padding-top: 60px;
  box
  &__title {
    color: #333333;
    font-size: 42px;
    text-align center
    margin: 0 auto
  }
  hr {
    margin-top: 26px;
    border: none;
    margin-bottom: 58px;
  }
  &__text {
    font-size: 22px;
    color #999999;
    text-align center
    width: 695px;
    margin: 0 auto;
  }
  &__list {
    display flex;
    flex-wrap nowrap;
    margin: 0;
    padding: 0;
    justify-content: left;
    margin-top: 70px;

  }
  &__item {
    width: 175px;
    padding-top: 20px;
    margin-left: 65px;
    &:nth-child(1){
      margin-left: 80px;
    }
      hr{
        margin-bottom: 42px;
      }
  }
    &__itemTitle{
      font-size: 22px;
      color #000000;
      text-align: center;
      margin-top: 3px;
      margin-left: -21px;
    }
  &__text {
    color: 666666;
    line-height: 125%;

  }

    &__btn{

      font-size: 22px;
      color: #fff;
      width:230px;
      height:49px;
      border-radius: 10px;
      background-color: #f90;
      box-shadow: 0 0 60px -5px rgba(255, 153, 0, 0.38);
      margin: 0 auto;
      display: block;
      margin-top: 140px;
      font-family 'Arciform Sans', 'Helvetica', 'Arial', sans-serif;
      cursor pointer
      &:active{
        outline: none
        height:51px;
      }
      &:focus, &:visited {
        outline: none
        height:51px;
      }
    }
}