@font-face {
  font-family: "Arciform Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/10175.woff2") format('woff2'),
      url("../fonts/10175.otf") format('otf');
}

@font-face {
  font-family: "Freakomix";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/10612.woff") format('woff'),
      url("../fonts/10612.otf") format('otf');
}
