.wrapper__global {
 wrapper();
 overflow hidden

}

body {
  reset();
}

body {
  margin: 0;
  font-size: 18px;
  line-height: normal;
  font-family: "Arciform Sans", "Helvetica", "Arial", sans-serif;
  color: black;
  width: 100%;
  background-image: url(../img/backrgound/bg__1x.png);
  background-repeat: no-repeat;
  background-color: #fff
  background-position: center -150px;
  position: relative;
  box-sizing border-box;
  md(background-image, none)

}

a {
  text-decoration none;
  color: #f5f5f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
