@import "../node_modules/nib";
@import "nib/normalize";
@import 'nib/gradients';
@import "smart-grid.styl";
@import "mixin.styl";
@import "fonts.styl";
@import "global.styl";
@import "__block/main__global.styl";
@import "__block/add__services.styl";
@import "__block/backform.styl";
@import "__block/feetback.styl";
@import "__block/footer.styl";
@import "__block/header.styl"
@import "__block/news.styl";
@import "__block/photo.styl";
@import "__block/services.styl";
@import "__block/slider.styl";
@import "__block/team.styl";
@import "__block/we__have.styl";
@import "__block/paralax.styl";
@import "__block/info.styl";
@import "__block/banner.styl";
@import "__block/one.styl";

